.controls {
    opacity: 0.5;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    background-color: red;
    box-shadow: 3px 3px 5px red;
    transition: 1s all;
    display: flex;
    width: 95%;
    height: 40px;
    margin: auto;
}  
.player:hover .controls, player:focus .controls {
    opacity: 1;
}
@font-face {
    font-family: 'HeydingsControlsRegular';
    src: url('fonts/heydings_controls-webfont.eot');
    src: url('fonts/heydings_controls-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/heydings_controls-webfont.woff') format('woff'),
        url('fonts/heydings_controls-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
button:before {
    font-family: HeydingsControlsRegular;
    font-size: 20px;
    position: relative;
    content: attr(data-icon);
    color: red;
    text-shadow: 1px 1px 0px red;
}
.timer {
    line-height: 38px;
    font-size: 40px;
    font-family: monospace;
    text-shadow: 1px 1px 0px red;
    color: white;
    flex: 5;
    position: relative;
}
.timer div {
    position: absolute;
    background-color: rgba(255,255,255,0.2);
    left: 0;
    top: 0;
    width: 0;
    height: 38px;
    z-index: 2;
}
.timer span {
    position: absolute;
    z-index: 3;
    left: 19px;
}
video{
    width: 100%;
    height: auto;
}