h1{
    text-align: center;
}

* {
    box-sizing: border-box;
}

.calender-output {
    padding-left: 0;
}

.calender-output li {
    display: block;
    float: left;
    width: 20%;
    border: 2px solid white;
    padding: 5px;
    height: 50px;
    background-color: #4A2DB6;
    color: white;
}

canvas{
    height: 400px;
    width: 600px;
    border: 1px solid gainsboro;
    background-color: ghostwhite;
}

.event-fun{
    height: 80px;
    width: 100px;
    float: left;
    border: 1px solid gainsboro;
}

.displayed-img{
    width: 500px;
    height: auto;
}

.thumb-image{
    width: 59px;
    height: auto;
}